.nav-bg {
    background-color: #151515;
    padding: 10px;
}

.my-nav {
    padding-right: 20px;
}

.nav-span {
    margin-left: 0;
}

.my-nav {
    color: #fff;
    text-decoration: none;
}

.my-nav:hover {
    color: #db2d2e;
}

.nav-btn {
    background: #db2d2e;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 1px 15px;
    margin-left: 10px;
}

.nav-btn:hover {
    background-color: #e61414;
}

.signIn-btn {
    background: #db2d2e;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 4px 27px;
    margin-left: 10px;
}

.signIn-btn:hover {
    background-color: #db2d2e;
}

.navImg {
    width: 60px;
    margin-right: 100px;
}