.our-brands{
    margin-bottom: 130px;
}
.our-brands-title{
    margin-bottom: 50px;
}
.brand img{
    height: 40px;
    margin-bottom: 10px;
}
.kia img{
    height: 33px;
}
.our-brands-banner{
    margin-top: 90px;
}