.cart{
    box-shadow: 0 12px 13px rgb(0 0 0 / 16%), 0 12px 13px rgb(0 0 0 / 16%);
}
.thumb img{
    width: 100%;
    height: 186px;
    border-radius: 10px 10px 0 0;
}
.cart-detail{
    text-align: left;
    font-weight: 400;
    padding: 10px;
    height: 237px;
}
.price{
    color: #ef6c00;
    font-weight: bold;
}

.rating{
    color: goldenrod;
    margin-left: 5px;
}
.address-icon{
    color: #ef6c00;
}