.info-form input{
    background-color: #bdbdbdda;
    color: white;
    padding: 10px;
    /* border: 1px solid #212529da; */
    border-radius: 5px;
}

.book-btn:hover{
    background-color:#fff;
    background: #ef6c00;
    border: 1px solid #ef6c00;
    color: black;
}
.input-form input{
    border: none;
    border-bottom: 1px solid #151515d7;
}
.input-form textarea{

    border: none;
    border-bottom: 1px solid #151515d7;
}
.review-btn{

    background: #db2d2e;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 2px 15px;
    margin-left: 10px;
}
.review-btn:hover{
    background-color:#e61414;
    color: #fff;
}